.window-packing-parent {
    position: relative;
    display: block;
    margin: auto;
}

.window-packing-parent > * {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transition-property: width, height, transform, top, left;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}